<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.reportcard">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReportCard">
        <activity android:name=".recordData2019"
            android:parentActivityName=".MainActivity"
            android:label="Record of year 2019"
            ></activity>
        <activity
            android:name=".recordData2018"
            android:label="Record of year 2018"
            android:parentActivityName=".MainActivity"
            />
        <activity
            android:name=".recordData2017"
            android:label="Record of year 2017"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".recordData2016"
            android:parentActivityName=".MainActivity"
            android:label="Record of year 2016"
            />
        <activity
            android:name=".recordData2015"
            android:parentActivityName=".MainActivity"
            android:label="Record of year 2015"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>